<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5NwoOCvjrrSh5e4SYZERU715Sbj2SjXM</string>
	<key>GCM_SENDER_ID</key>
	<string>928257268738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labNerd</string>
	<key>PROJECT_ID</key>
	<string>lab-nerd</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-nerd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928257268738:ios:b22eaba54cc3d66de2db1b</string>
</dict>
</plist>